* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    margin: 40px auto;
}

b{
    color: orange;
    cursor: pointer;
}

.mainDiv {
    width: 100%;
    height: 400px;
    padding: 30px 20px;
    border-radius: 14px;
    background-color: whitesmoke;
    position: relative;
}

.mainImg {
    width: 100%;
    height: 161px;
    object-fit: contain;
}

.middleDiv {
    width: 100%;
    height: 50%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px 20px 20px;
    border-end-end-radius: 14px;
    border-end-start-radius: 14px;
}

.h1 {
    font-size: 20px;
    font-weight: 900;
    color: white;
    text-align: left;
}

.p {
    font-size: 14px;
    font-weight: 300;
    color: whitesmoke;
}

.bottomDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bottomDivBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.boxP {
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.btn {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.boxImg {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.btns {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btns button{
    width: 180px;
    height: 40px;
    background-color: #fff;
    border-color: blue;
    border-radius: 10px;
}

.none{
    display: none;
}

.selected{
    background-color: blue;
    color: #fff;
}

.main_box{
    position: relative;
}

.modal{
    background-color: black;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
}

.modal button{
    background-color: #efdbdb;
    padding: 10px 40px;
    border-radius: 10px;
}

.modal_open{
    animation: modal_open 1.5s ease forwards;
}

.modal_close{
    animation: modal_close 2s ease forwards;
}

@keyframes modal_open {
    0%{

    }
    100%{
        right: 0;
    }
}

@keyframes modal_close {
    0%{
        right: 0;
    }
    100%{
        right: -100%;
    }
}